.container {
  padding: 0 2rem;
  background-color: #161616;
  width: 100%;
}

.main {
  min-height: 100vh;
  padding: 4rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.divide {
  height: 60px;
  width: 100%;
}

.footer {
  display: flex;
  width: 100%;
  flex: 1;
  padding: 2rem 0;
  align-items: center;
}

.footer a {
  display: flex;
  align-items: center;
  flex-grow: 1;
}

.credit {
  display: flex;
  align-items: center; 
  justify-content: flex-end;
  font-size: max(1rem, 2vw);
  flex-grow: 1;
}

.title a {
  color: white;
  text-decoration: none;
}

.title {
  line-height: 1;
  font-size: max(3rem, 6vw);
  margin: 80px 10px 0px 10px;
  font-family: 'AKBold';
  z-index: 2;
}

.title,
.description {
  text-align:left;
}

.description {
  margin: 20px 0px 0px 10px;
  line-height: 1.5;
  font-size: max(2rem, 4vw);
  font-family: 'AKRegular';
  z-index: 2;
}

.subtitle {
  margin: 10px 10px 0px 10px;
  font-size: max(1.5rem, 3vw);
  font-family: 'AKItalic';
  color: #8C8C8C;
  z-index: 2;
}

.backImg {
  position: absolute;
  z-index: 1;
  height: 90vh;
  width: auto;
  right: 0;
  bottom: 0;
  opacity: 0.5;
  
}

.logo {
  display: flex;
  flex-grow: 1;
  align-items: center;
  height: 1em;
  margin-left: 0.5rem;
}

