html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

/* * {
  outline: 1px solid #f00 !important;
} */

@font-face {
  font-family: 'AKBold';
  src: url('../fonts/Atkinson-Hyperlegible-Bold-102.woff') format('woff');
}

@font-face {
  font-family: 'AKBoldItalic';
  src: url('../fonts/Atkinson-Hyperlegible-BoldItalic-102.woff') format('woff');
}

@font-face {
  font-family: 'AKItalic';
  src: url('../fonts/Atkinson-Hyperlegible-Italic-102.woff') format('woff');
}

@font-face {
  font-family: 'AKRegular';
  src: url('../fonts/Atkinson-Hyperlegible-Regular-102.woff') format('woff');
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

@media (prefers-color-scheme: dark) {
  html {
    color-scheme: dark;
  }
  body {
    color: white;
    background: black;
  }
}
