.mintTitle {
    color: white;
    line-height: 1;
    font-size: max(3rem, 5vw);
    margin: 50px 10px 0px 10px;
    font-family: 'AKBold';
}

.mintTitle a {
    color: #FFCC30;
}

.mintContainer {
    display: flex;
    flex-grow: 1;
    flex-direction: column;
}
